<%= render '_head' %>
<div id=main class=group>
  <h1 class=articleTitle><%= @item[:title] %></h1>

<div id=social>
<g:plusone size=medium></g:plusone>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<br>
<a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="utjs">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<br>
<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Futahjs.com%2Fpapers%2F&amp;send=false&amp;layout=button_count&amp;width=50&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
</div>

<%= yield %>
</div>
<div id=meta>
  <div class=group>
    <h3>About UtahJS.com</h3>
    <%= COPY['description'] %>
  </div>
</div>
<%= render '_foot' %>